@tailwind base;
@tailwind components;
@tailwind utilities;

#map {
    height: 500px !important;
    width: 100% !important;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0;
  }